div#coursera-asigment-3-navbar ul
{
	background-color: #85bbdd;

}

section
{
	background-color: #228899;
	height: 700px;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}

nav.navbar
{
	background-color: #99ccee;

}

section h3
{
	margin-bottom: : 20px;
	padding: 20px;
}

section a
{
	position: absolute;
	bottom: 0;
	color: white;
	margin-bottom: 20px;

}